<h2>Iniciar sesión</h2>
<p-card>
  <div class="row">
    <div class="col-12 col-md-5">
      <p *ngIf="!loginType">Selecciona un método de autenticación</p>
      <div class="d-flex flex-column">
        <button
          pButton
          type="button"
          (click)="loginType = 'email'"
          label="Iniciar sesión con email"
          icon="pi pi-envelope"
          iconPos="left"
        ></button>
        <button
          pButton
          type="button"
          class="p-button-help"
          (click)="loginType = 'phone'"
          label="Iniciar sesión con teléfono"
          icon="pi pi-phone"
          iconPos="left"
        ></button>
        <button
          pButton
          type="button"
          class="p-button-secondary"
          (click)="loginType = 'register'"
          label="Crear cuenta con email"
          icon="pi pi-envelope"
          iconPos="left"
        ></button>
      </div>
    </div>
    <p-divider layout="vertical" *ngIf="loginType" class="col-2"> </p-divider>
    <div class="col-12 col-md-5">
      <ng-template [ngIf]="loginType === 'email' || loginType === 'register'">
        <div>
          <form [formGroup]="emailForm">
            <ng-template [ngIf]="emailForm.controls['email'].touched">
              <p-message
                severity="error"
                text="Debes insertar un correo! "
                *ngIf="emailForm.controls['email']?.errors?.['required']"
              ></p-message>
              <p-message
                severity="error"
                text="El correo no es válido! "
                *ngIf="emailForm.controls['email']?.errors?.['email']"
              ></p-message>
            </ng-template>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="Email"
                autocomplete="email"
              />
            </div>
            <p-message
              severity="error"
              text="Debes insertar una contraseña de minimo 8 caracteres! "
              *ngIf="
                emailForm.controls['password']?.touched &&
                emailForm.controls['password']?.invalid
              "
            ></p-message>
            <div class="form-group">
              <label for="email">Contraseña</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Password"
                autocomplete="current-password"
              />
            </div>
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="emailForm.invalid"
              (click)="submitEmailForm()"
            >
              {{ loginType === "email" ? "Iniciar sesión" : "Registrarse" }}
            </button>
          </form>
        </div>
      </ng-template>
      <div *ngIf="loginType === 'phone'">
        <form [formGroup]="phoneForm" *ngIf="!confirmationResult">
          <p-message
            severity="error"
            text="El número telefónico debe ser de 10 dígitos (MX)"
            *ngIf="phoneForm.touched && phoneForm.invalid"
          ></p-message>
          <div class="form-group">
            <label for="Telefono">Número de teléfono</label>
            <input
              type="text"
              class="form-control"
              formControlName="number"
              autocomplete="tel"
              maxlength="10"
              placeholder="Teléfono"
            />
            <div #captchaContainer></div>
          </div>

          <button
            type="button"
            [disabled]="phoneForm.invalid"
            class="btn btn-primary"
            (click)="submitPhoneForm()"
          >
            Enviar
          </button>
        </form>
        <form [formGroup]="otpForm" *ngIf="confirmationResult">
          <p-message
            severity="error"
            text="El código debe ser de 6 dígitos"
            *ngIf="otpForm.touched && otpForm.invalid"
          ></p-message>
          <div class="form-group">
            <label for="code">OTP code</label>
            <input
              type="text"
              class="form-control"
              formControlName="code"
              maxlength="6"
              placeholder="SMS code"
            />
          </div>
          <button
            type="button"
            [disabled]="phoneForm.invalid"
            class="btn btn-primary"
            (click)="submitOTP()"
          >
            Confirmar
          </button>
        </form>
      </div>
    </div>
  </div>
</p-card>
