<div class="d-flex justify-content-center" *ngIf="error">
  <p-message severity="error" text="Película no encontrada"></p-message>
</div>
<div class="card" *ngIf="loading">
  <div class="card-body d-flex align-items-center">
    <p-progressSpinner></p-progressSpinner>
    <span>Cargando información de la película...</span>
  </div>
</div>
<div *ngIf="movie">
  <h1>Rentar sala</h1>
  <p-divider></p-divider>
  <div class="container-fluid">
    <p-message
      severity="info"
      text="El precio de la sala se cobra por las personas que entren a ella"
    ></p-message>
  </div>
  <p-divider></p-divider>
  <div class="container overflow-x-auto w-100">
    <p-steps
      [model]="items"
      [readonly]="true"
      [activeIndex]="STATUS[status] - 1"
    ></p-steps>
  </div>
  <p-card>
    <h3>Resumen</h3>
    <div class="d-flex w-100">
      <div class="flex-grow-1">
        <h5>Pelicula: "{{ movie.title }}"</h5>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div class="flex-grow-1">Fecha: {{ fecha | date : "medium" }}</div>
      <p-divider layout="vertical"></p-divider>
      <div class="flex-grow-1">
        Personas en la sala (boletos) a comprar:
        {{ boletos !== -1 ? boletos : "No válido" }}
        <br />
        <b *ngIf="boletos !== -1">
          Precio total: {{ boletos * precioPorPersona | currency }}
        </b>
      </div>
    </div>
  </p-card>

  <p-divider> </p-divider>

  <p-card>
    <div *ngIf="status === 'fecha'">
      <app-select-date
        (fechaSeleccionada)="onFechaReceived($event)"
        [showDate]="false"
      ></app-select-date>
    </div>

    <div *ngIf="status === 'boletos'">
      <app-boletos (boletos)="boletos = $event"></app-boletos>
    </div>
    <div *ngIf="status === 'pago'">
      <h3>Método de pago</h3>
      <app-payment (isValid)="pagoValidado = $event"></app-payment>
    </div>

    <div *ngIf="status === 'finalizado'">
      <p-message
        severity="success"
        [text]="' Tu compra ha sido registrada correctamente!'"
      ></p-message>
      <h4>¡Gracias por tu preferencia!</h4>
      <p><b>Cine-Crash</b> Creando recuerdos a través de fotogramas</p>
    </div>
  </p-card>
  <div class="d-flex justify-content-end py-3">
    <button
      class="btn btn-primary"
      *ngIf="status !== 'pago'"
      (click)="continuar()"
    >
      Continuar
    </button>
    <button
      *ngIf="status === 'pago'"
      class="btn btn-primary"
      [swal]="confirmDialogOptions"
      (confirm)="continuar()"
    >
      Pagar
    </button>
  </div>
</div>
