@import ../../../_variables
.sidebar
  column-gap: 5px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2)
  padding: 12px 4px 12px 4px
  background-color: $black
  height: 100%

.desktop-sidebar
  display: none

.mobile-sidebar
  display: block

@media screen and (min-width: 768px)
  .desktop-sidebar
    display: flex
    flex-direction: column
  .mobile-sidebar
    display: none
  .sidebar
    flex-direction: column

.label
  margin-left: 4px

.active-link
  background-color: $base-red

