<aside class="sidebar">
  <div class="desktop-sidebar">
    <a
      class="link"
      *ngFor="let i of pages"
      [routerLink]="i.routerLink"
      routerLinkActive="active-link"
    >
      <span [class]="i.icon"> </span>
      <span class="label">{{ i.label }}</span>
    </a>
  </div>
  <div class="mobile-sidebar">
    <p-menu #menu [model]="pages" [popup]="true"></p-menu>
    <button
      pButton
      class="menu"
      type="button"
      (click)="menu.toggle($event)"
      icon="pi pi-bars"
      label="Opciones"
    ></button>
  </div>
  <app-search></app-search>
</aside>
