<div class="container">
  <div
    #masonry
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2 g-md-5"
    data-masonry='{"percentPosition": true,  "itemSelector": ".col" }'
  >
    <div class="col" *ngFor="let movie of movies">
      <div class="card">
        <img
          [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path"
          class="card-img-top"
          [alt]="'Poster de película ' + movie.title"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">Sinopsis: {{ movie.overview }}</p>

          <p class="card-text">Popularidad: {{ movie.popularity }}</p>
          <a class="btn btn-primary" [routerLink]="'/buy/' + movie.id"
            >Comprar boletos</a
          >
          <a class="btn btn-secondary" [routerLink]="'/movie/' + movie.id"
            >Ver info</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
