<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img
      class="logo navbar-brand"
      src="../../../assets/logo/CC_Logo_Large_1080_White.png"
      alt=""
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarItems"
      aria-controls="navbarItems"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="pi pi-bars"></span>
    </button>
    <div class="collapse navbar-collapse app-navbar" id="navbarItems">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!checkLogged(); else logged">
        <li class="nav-item">
          <button routerLink="/signin">Sign In</button>
        </li>
        <li class="nav-item">
          <button routerLink="/signup">Sign Up</button>
        </li>
      </ul>
      <ng-template #logged>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="showName">
              <p>Hola, {{printName()}}. ¿Qué vamos a ver hoy?</p>
            </div>
          </li>
          <li class="nav-item">
            <button (click)="signOut()">Sign Out</button>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
