<div style="align-content: center">
  <p style="text-align: center">CINE CRASH</p>
  <br />
  <p style="text-align: center">Equipo conformado por:</p>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <p-fieldset>
          <ng-template pTemplate="header">
            <div class="flex align-items-center text-primary">
              <span class="pi pi-user mr-2"></span>
              <span class="font-bold text-lg"
                >Paulina Lizbeth Esparza Jimenez</span
              >
            </div>
          </ng-template>
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            styleClass="mr-2"
            size="xlarge"
            shape="circle"
          ></p-avatar>
        </p-fieldset>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <p-fieldset>
          <ng-template pTemplate="header">
            <div class="flex align-items-center text-primary">
              <span class="pi pi-user mr-2"></span>
              <span class="font-bold text-lg">Iker Jimenez Tovar</span>
            </div>
          </ng-template>
          <p-avatar
            image="/src/avatar/ikeravatar.jpg"
            styleClass="mr-2"
            size="xlarge"
            shape="circle"
          ></p-avatar>
        </p-fieldset>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col"><div class="card">
        <p-fieldset>
          <ng-template pTemplate="header">
            <div class="flex align-items-center text-primary">
              <span class="pi pi-user mr-2"></span>
              <span class="font-bold text-lg">Ernesto Rodrigo Ramirez Briano</span>
            </div>
          </ng-template>
          <p-avatar
            image="/src/avatar/ikeravatar.jpg"
            styleClass="mr-2"
            size="xlarge"
            shape="circle"
          ></p-avatar>
        </p-fieldset>
      </div>
    </div>
    <div class="col">
        <div class="card">
        <p-fieldset>
          <ng-template pTemplate="header">
            <div class="flex align-items-center text-primary">
              <span class="pi pi-user mr-2"></span>
              <span class="font-bold text-lg">Karen Itzel Vázquez Reyes</span>
            </div>
          </ng-template>
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            styleClass="mr-2"
            size="xlarge"
            shape="circle"
          ></p-avatar>
        </p-fieldset>
      </div></div>
  </div>
</div>





<div class="card">
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center text-primary">
        <span class="pi pi-user mr-2"></span>
        <span class="font-bold text-lg">Paulina Lizbeth Esparza Jimenez</span>
      </div>
    </ng-template>
    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
      styleClass="mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
  </p-fieldset>
</div>
<br />
<div class="card">
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center text-primary">
        <span class="pi pi-user mr-2"></span>
        <span class="font-bold text-lg">Iker Jimenez Tovar</span>
      </div>
    </ng-template>
    <p-avatar
      image="assets/avatar/ikeravatar.jpg"
      styleClass="mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
  </p-fieldset>
</div>
<br />
<div class="card">
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center text-primary">
        <span class="pi pi-user mr-2"></span>
        <span class="font-bold text-lg">Ernesto Rodrigo Ramirez Briano</span>
      </div>
    </ng-template>
    <p-avatar
      image="assets/avatar/ernestoAvatar.jpg"
      styleClass="mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
  </p-fieldset>
</div>
<br />
<div class="card">
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center text-primary">
        <span class="pi pi-user mr-2"></span>
        <span class="font-bold text-sm">Karen Itzel Vázquez Reyes</span>
      </div>
    </ng-template>
    <p-avatar
      image="assets/avatar/itzavatar.jpg"
      styleClass="mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
  </p-fieldset>
</div>
<br />


<div style="align-content: center">
  <p style="text-align: center">UNIVERSIDAD AUTÓNOMA DE AGUASCALIENTES</p>
  <p style="text-align: center">Ingenieria en Sistemas Computacionales 6°B</p>
  <p style="text-align: center">
    Proyecto creado para la materia de Tecnologias Web
  </p>
  <p style="text-align: center">Aguascalientes, Ags a 13 Mayo 2023</p>
</div>
