@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap')




@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap')
.sync
   font-family: 'Syncopate', sans-serif
   color: #6c0000
   font-size: 30 rem

 

.avatartext
   color: #000
   size: 10 rem
   font-family: 'Lora', serif


.grid-container
   display: grid
   grid-template-columns: 1fr 1fr
   
@media screen and (min-width: 768px)
   .grid-container
      grid-template-columns: 1fr 1fr 1fr 1fr



   