<div class="sync">
  <h3>CINECRASH</h3>
  <br />
  <p>Equipo conformado por:</p>
</div>

<div class="grid-container">
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center text-primary">
        <span class="avatartext">Paulina </span>
      </div>
    </ng-template>
    <p-avatar
      image="assets/avatar/pauavatar.jpg"
      styleClass="mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
    <p class="name">Paulina Lizbeth Esparza Jiménez</p>
    <br />
    <span class="badge bg-secondary">ID: 217114</span>
  </p-fieldset>
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center text-primary">
        <span class="avatartext">Iker</span>
      </div>
    </ng-template>
    <p-avatar
      image="assets/avatar/ikeravatar.jpg"
      styleClass="mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
    <p class="name">Iker Jiménez Tovar</p>
    <br />
    <span class="badge bg-secondary">ID: 291255</span>
  </p-fieldset>
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center text-primary">
        <span class="avatartext">Ernesto</span>
      </div>
    </ng-template>
    <p-avatar
      image="assets/avatar/ernestoAvatar.jpg"
      styleClass="mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
    <p class="name">Ernesto Rodrigo Ramirez Briano</p>
    <br />
    <span class="badge bg-secondary">ID: 289171</span>
  </p-fieldset>
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center text-primary">
        <span class="avatartext">Karen</span>
      </div>
    </ng-template>
    <p-avatar
      image="assets/avatar/itzavatar.jpg"
      styleClass="mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
    <p class="name">Karen Itzel Vázquez Reyes</p>
    <br />
    <span class="badge bg-secondary">ID: 297822</span>
  </p-fieldset>
</div>

<div class="moreAbout">
  <h5>Acerca de esta idea</h5>
  <p>Se optó por la propuesta de rentar salas de cine completas, a cada persona se le cobra un boleto sin la elección de su asiento, 
    puesto que ya lo tiene asegurado. Esto facilita la idea de la reservacion sin entrar en demasiada complejidad y 
    el usuario realiza su pedido de manera eficiente.</p>
</div>

<div class="sync">
  <br>
  <h4>UNIVERSIDAD AUTÓNOMA DE AGUASCALIENTES</h4>
  <h6>TECNOLOGÍAS WEB 6°B</h6>
  <p>PROYECTO CREADO CON FINES EDUCATIVOS</p>
</div>

<app-qrcode>
  <h1>Generacion de Qr</h1>
  <qrcode [width]="400" qrdata="[src]=getIntegrants()" ></qrcode>
</app-qrcode>