<div class="sync">
  <p style="text-align: center">CINE CRASH</p>
  <br />
  <p style="text-align: center">Equipo conformado por:</p>
</div>

<div class="grid-container">
  <div class="card">
    <p-fieldset>
      <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
          
          <span class="avatartext">Paulina </span>
        </div>
      </ng-template>
      <p-avatar
        image="assets/avatar/pauavatar.jpg"
        styleClass="mr-2"
        size="xlarge"
        shape="circle"
      ></p-avatar>
      <p class="sync">Paulina Lizbeth Esparza Jimenez</p>
      <p class="sync">ID: 217114</p>
    </p-fieldset>
  </div>
  <div class="card">
    <p-fieldset>
      <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
          
          <span class="avatartext">Iker </span>
        </div>
      </ng-template>
      <p-avatar
        image="assets/avatar/ikeravatar.jpg"
        styleClass="mr-2"
        size="xlarge"
        shape="circle"
      ></p-avatar>
      <p class="sync">Iker Jimenez Tovar</p>
      <br>
      <p class="sync">ID: 291255</p>
    </p-fieldset>
  </div>
  <div class="col">
    <div class="card">
      <p-fieldset>
        <ng-template pTemplate="header">
          <div class="flex align-items-center text-primary">
            
            <span class="avatartext">Ernesto </span>
          </div>
        </ng-template>
        <p-avatar
          image="assets/avatar/ernestoAvatar.jpg"
          styleClass="mr-2"
          size="xlarge"
          shape="circle"
        ></p-avatar>
        <p class="sync">Ernesto Rodrigo Ramirez Briano</p>
        <p class="sync">ID: 289171</p>
      </p-fieldset>
    </div>
  </div>
  <div class="card">
    <p-fieldset>
      <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
          
          <span class="avatartext">Karen</span>
        </div>
      </ng-template>
      <p-avatar
        image="assets/avatar/itzavatar.jpg"
        styleClass="mr-2"
        size="xlarge"
        shape="circle"
      ></p-avatar>
      <p class="sync">Karen Itzel Vázquez Reyes</p>
      <p class="sync">ID: 287822</p>
    </p-fieldset>
  </div>
</div>
