<div class="d-flex justify-content-center">
    <form
      action=""
      class="form bg-white card col-md-4 p-3 mt-4"
      [formGroup]="form"
      (ngSubmit)="sendEmail()"
    >
      <div class="mb-3">
        <h3>Contacto</h3>
      </div>
  
      <div
        class="alert alert-success alert-dismissible fade show"
        role="alert"
        *ngIf="success"
      >
        Gracias por tus comentarios
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10">
          <label for="email" class="form-label">Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            id="nombre"
            placeholder="ejemplo@algo.com"
            name="email"
            formControlName="email"
            required
          />
          <div *ngIf="form.controls['email'].errors?.['required']" class="invalidfeedback" style="color: red">
            Completa este campo
          </div>
          <div *ngIf="form.controls['email'].errors?.['email']" class="invalidfeedback" style="color: red">
            El correo no es valido
          </div>
        </div>
        <div class="col-md-10">
          <label for="pass" class="form-label">Escribe un mensaje</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" formControlName="textarea"></textarea>
          <div *ngIf="form.controls['textarea'].errors?.['required']" class="invalidfeedback" style="color: red">
            Completa este campo
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-5 col-sm-10" [disabled]="form.invalid">
          Enviar
        </button>
      </div>
    </form>
  </div>
  